@media (max-width: 1200px) {
    
    body {
        background-color: #f44336;
    }

    .background-video {
        display: none;
    }

    .container {
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        gap: 30px;
    }

    .container .mario {
        max-width: 50%;
    }

    .container .information{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .container .description {
        color: white;
        text-align: center;
    }

    .container .button {
        background-color: #263238;
    }

}

@media (max-width: 500px) {
    
    .header {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    .container .image-title {
        max-width: 75%;
    }

    .modal .close-modal {
        width: 30px;
        line-height: 30px;
    }

    .modal #video {
        width: 300px;
        height: 169px;
    }
}

@media (max-width: 376px) {
    .modal #video {
        width: 250px;
        height: 140px;
    }
}